
body {
  background-color: hsl(212, 45%, 89%); 
  font-family: Arial, Helvetica, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}


.card {
  background: white; 
  border-radius: 15px; 
  padding: 16px; 
  width: 300px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}


.card img {
  width: 100%; 
  border-radius: 10px; 
  margin-bottom: 15px; 
}


.card h3{
  
  font-weight: 400;
  color: hsl(218, 44%, 22%); 
  margin: 10px 0;
}


.card p {
  font-size: 0.9rem;
  color: hsl(220, 15%, 55%); 
  line-height: 1.4;
}